<ion-view view-title="Itinerary">
	<div class="bar bar-subheader bar-steamy">
		<h2 class="title">itinerary</h2>
	</div>

	<ion-content class="has-subheader">
		<ion-list>
			<ion-item class="grey-background">
				<!-- <a ng-href="#/app/itinerary/{{city.name}}"> -->
					<div class="list card" ng-repeat="city in cities">
						<div class="item item-avatar">
							<img ng-src="www/img/{{ city.name }}-avatar.png">
							<h2>{{ city.name }}</h2>
							<p>{{ city.country }}</p>
						</div>

						<div class="item item-image">
							<img ng-src="www/img/{{ city.name }}-cover.png">
						</div>

						<!-- <div class="item">
							<p>start - <strong>{{ city.startDate }}</strong></p>
							<p>end - <strong>{{ city.endDate }}</strong></p>
						</div> -->

						<ion-list>
							<ion-item ng-repeat="day in city.agenda">
								<h3 class="center-text">{{ day.date }}</h3>

								<ul class="list">
									<li ng-repeat="item in day.items">
										<div class="item-title">	{{ item.title }}
										</div>

										<div class="item-times">
											{{ item.startTime }} &#x2192; {{ item.endTime }}
										</div>
									</li>
								</ul>
							</ion-item>
						</ion-list>
					</div>
				<!-- </a> -->
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>
