<ion-view view-title="Itinerary">
	<!-- <div class="bar bar-subheader bar-steamy">
		<h2 class="title">itinerary</h2>
	</div> -->

	<ion-content class="grey-background">
		<a ng-repeat="city in itinerary" ng-href="#/app/itinerary/{{ city.name }}" alt="{{ city.name }}">
			<div class="card">
				<div class="item item-avatar">
					<img ng-src="https://raw.githubusercontent.com/ZachMoreno/euro15/master/www/img//{{ city.name | lowercase }}-avatar.png">
					<h2>{{ city.name }}</h2>
					<p>{{ city.country }}</p>
				</div>

				<div class="item item-image">
					<img ng-src="https://raw.githubusercontent.com/ZachMoreno/euro15/master/www/img//{{ city.name | lowercase }}-cover.png">
				</div>

				<div class="item">
					<h3 class="center-text">{{ city.startDate }} &#x2192; {{ city.endDate }}</h3>
				</div>
			</div>
		</a>
	</ion-content>
</ion-view>
