.bar-steamy {
	background-color: #616161;
}

.bar-steamy h2 {
	color: #fff;
}

.grey-background {
	background-color: #e5e5e5;
}

.bar {
	-webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.16);
	        box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.16);
}

.bar h1.title {
	font-size: 38px;
}

.bar h1.title:not(.light) {
	letter-spacing: -4px;
}

.bar h1.title .light {
	font-weight: 100;
	letter-spacing: 1px;
}

.bar h2.title {
	font-size: 22px;
	font-weight: 300;
	letter-spacing: 1.4px;
}

.item h2 {
	font-size: 26px;
	font-weight: 300;
	letter-spacing: 0.03em;
}

.item h3 {
	font-size: 20px;
	font-weight: 300;
	letter-spacing: 1px;
}

.card .list dd {
	margin-left: 18px;
	margin-top: 8px;
}

.card .item-title {
	font-weight: 700;
	margin-bottom: 5px;
	letter-spacing: 0.4px;
}

.card .item-times {
	margin-left: 14px;
}

.card li {
	padding-bottom: 10px;
	border-bottom: 1px solid #e9e9e9;
	margin-bottom: 10px;
}

.card ul li:last-of-type {
	padding-bottom: 0px;
	border-bottom: 0px;
	margin-bottom: 0px;
}

/*---------------- utility ----------------*/

.center-text,
.text-center {
	text-align: center;
}